<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
	  
	<f:view contentType="text/html">
	
		
	    <h:body>
		   
		    <p:layout fullPage="true">
				<p:layoutUnit position="center">
					
					<b:container fluid="true">
	              
		              <!--==============================header================================-->
							<ui:insert name="header">
		       			</ui:insert>
					  <!--==============================End-header================================-->
					  
					  <!--==============================content================================-->				
		              
		                    <ui:insert name="content">
		                    </ui:insert>
		                  
		              <!--==============================End-content================================-->
		              
		              <!--==============================footer================================-->
		              		<ui:insert name="footer">
		                    </ui:insert>
		              <!--==============================End-footer================================-->                 
		            
		        	</b:container>
		        		
				</p:layoutUnit>
				    
		    </p:layout>
	    
	     </h:body>
  </f:view>
</html>
