<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
   
    	
    <b:container fluid="true" >		
       <b:row style="margin-top:30px;">
    	  <b:column col-lg="8" >
    	   <h:form>
    		 <h:commandButton value="Compagnies" action="#{companyBean.insertCompanies()}">
    			
    		 </h:commandButton>	
    	</h:form>
    	  </b:column>			
       </b:row>
    		 			
    </b:container>
  
   
</ui:composition>