<ui:composition template="/templates/layout.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:my="http://example.com/jsf"
     xmlns:p="http://primefaces.org/ui"
     xmlns:b="http://bootsfaces.net/ui">
    
     <ui:define name="head">
        <h:head>
	        <title>SmartLinksPlus</title>
	        <meta name="keywords" lang="fr" content="inductiv, research, technologies, odza, yaounde " />
	        <meta name="description" content="Description de ma page web." /> 
	        <meta name="viewport" content="width=device-width"/>
	    	
	    </h:head>
     </ui:define>
     <ui:define name="header">
         
     </ui:define>
     <ui:define name="content">
     	<ui:include src="contents/index-content.xhtml"/>
     </ui:define>
     <ui:define name="footer">
         
     </ui:define>
     
</ui:composition>